<%- include partials/header -%>

<h1>Home</h1>

<p><%= firstContent %></p>




 <% posts.forEach(function (p) {  %> 
    <h2><%- p.title %> </h2>
    <p><%-  p.text %> </p>
 <% }) %> 




<%- include partials/footer -%>
